
/* Constants */

body {
  font-size: 22px;
}

h4 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Helvetica, Arial', sans-serif;
  color: #2b2b2b;
}


/* Variable theme-to-theme */


.btn {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  color: #fff;
  border: solid 1px #000;
  margin-top: 10px;
}

.btn:hover {
 border: solid 1px #fff;
}
